usm-api/target
usm-api/bin
usm-api/logs/*
usm-core/target
usm-core/bin
usm-core/logs/*
usm-businesslogic/target
usm-businesslogic/bin
usm-businesslogic/logs/*
usm-persistence/target
usm-persistence/target/*
usm-persistence/bin
usm-persistence/logs/*
usm-service/target
usm-service/bin
usm-service/logs/*
usm-service-ws/*
usm/target
usm/gen
/target

*.iml
.settings*
.classpath
.project
.springBeans
*.jasper
*.class